* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #323232;
  overflow-y: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

header nav {
  margin-right: 1.5rem;
}

nav ul {
  list-style: none;
  font-size: 20px;
}

h1,
ul {
  margin: 16px;
}

main {
  margin-left: 1rem;
}

input,
textarea {
  width: 400px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  background-color: #161616;
  border: none;
  color: white;
  outline: rgb(212, 0, 255);
  margin: 8px 0 8px 0;
}

.btn__send {
  width: 64px;
  height: 30px;
  border-radius: 5px;
  border: 3px solid #252525;
  background-color: transparent;
  color: #858484;
  cursor: pointer;
}

textarea {
  width: 400px;
}

.embed__body,
.embed__imgs {
  width: 400px;
  color: #fff;
}

.embed__body > nav {
  display: flex;
  flex-direction: column;
}

h2,
h3 {
  text-align: center;
}
